/* ------------------------------------------------------------------ */

header{
    color: white;
    height:70px;
    width: 100%;
    border-bottom: 1px solid#CCCCCC ;
}

/* ------ logo design ---- */
header a{
    background-image: url("../images/logo.png");
    display: block;
    width: 135px;
    height: 60px;
    background-repeat: no-repeat;
    margin-left: 20px;
}